.title{
    margin: 0 auto;
    background-color:rgb(64, 106, 177);
    padding: 10px;
    text-align: center; 
    font-size: 20px;
}
.direction{
    text-align: center;
    background-color:rgba(14, 109, 28, 0.463);
    padding: 10px;
    margin: 0 auto;
}

.camp{
    background-image: url("/class/image/mc_logo.jpeg");
}
